.imageUpload {
  width: 100%;
  max-width: 500px;
  border: 1px solid lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  background-color: white;
}
.imageUpload__progress {
  width: 100%;
}
.imageUpload__captionInput {
  padding: 10px;
  margin: 5px 0;
}
.imageUpload__fileInput {
  padding: 5px;
}
