* {
  margin: 0px;
  padding: 0px;
}
.modal__logo {
  width: 100px;
  object-fit: contain;
}
.form__signup {
  display: flex;
  flex-direction: column;
}
.header {
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 100px;
  object-fit: contain;
}
.app__posts {
  padding: 20px;
}
